version: "3.8"

services:
  # --- Serviços do Kafka ---
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092" # Porta para comunicação interna do Docker
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  # --- API de Conta Corrente ---
  contacorrente-api:
    build:
      context: .
      dockerfile: src/MyBancoApi.ContaCorrente.Api/Dockerfile
    ports:
      - "5100:8080"
    volumes:
      - dbdata:/dbdata
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Jwt__Key=MINHA_CHAVE_SECRETA_SUPER_LONGA_E_SEGURA_PARA_JWT_2025
      - Jwt__Issuer=MyBancoApi
      - Jwt__Audience=MyBancoApi_Usuarios
      - Kafka__Brokers=kafka:9092
    depends_on:
      - kafka # Depende do Kafka para iniciar

  # --- API de Transferência ---
  transferencia-api:
    build:
      context: .
      dockerfile: src/MyBancoApi.Transferencia.Api/Dockerfile
    ports:
      - "5200:8080"
    volumes:
      - dbdata:/dbdata
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Jwt__Key=MINHA_CHAVE_SECRETA_SUPER_LONGA_E_SEGURA_PARA_JWT_2025
      - Jwt__Issuer=MyBancoApi
      - Jwt__Audience=MyBancoApi_Usuarios
      - ApiClients__ContaCorrenteApiUrl=http://contacorrente-api:8080
      - Kafka__Brokers=kafka:9092
    depends_on:
      - contacorrente-api # Depende da C/C
      - kafka # Depende do Kafka

  # --- Worker de Tarifas (NOVO) ---
  tarifas-worker:
    build:
      context: .
      dockerfile: src/MyBancoApi.Tarifas.Worker/Dockerfile
    volumes:
      - dbdata:/dbdata # Monta o MESMO volume
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kafka__Brokers=kafka:9092
      - Configuracoes__ValorTarifa=2.00
    depends_on:
      - kafka # Depende do Kafka

volumes:
  dbdata:
